<div class="edit_post">
  <h2>Edit an existing post</h2>

    <form action='/posts/<%= @post.id %>/edit' method="POST" accept-charset="utf-8" id='edit-post'>

      <label for='title'></label>
        <p>
          Title: <input type='text' name='title' id='title' value='<%= @post.title %>'>
        </p>
        <p>
          Author: <label for='author'></label>
          <input type='text' name='author' id='author' value='<%= @post.author %>'/>
        </p>
      <p>
      Body: <label for='body'></label>
      <br></br>
        <!-- <input type='text' name='body' id='body' value='<%= @post.body %>'/> -->
        <textarea id = "myTextArea" rows = "10" cols = "100" name='body' id='body' value='<%= @post.body %>' />
        </textarea>
      </p>

      <p>
       <input class="button" type='submit' name='commit' id='edit_message'  />
      </p>
    </form>
    

</div>
