<div class="show_post">
  <h2><%= @post.title%></h2>
  <h4><%= @post.author%><h4>
  <h2><%= @post.body%></h2>

  <p>
   <a href="/posts/<%= @post.id %>/edit">Edit Post</a>
  </p>
  <form action="/posts/<%= @post.id %>/delete" method="POST">
    <p>
      <input type="submit" name="Delete" id="submit" value="DELETE POST" confirm=true/>
    </p>
  </form>

  <div class="new_comment">
  <form action='/post/'>
    <fieldset>
      <legend>Comment:</legend><textarea id='message' rows="2" cols="100" name='message' id='message' value='<%= @post.body %>' />
      </textarea>
      <!-- <input type="text" name="message" id="message" /> ---->

        <p>Author <input type="text" name="author" id="author" /></p>

        <p><input class="button" type="submit" name="commit" id="submit"></p>

    </fieldset>
  </form>
  </div>

  <p>
    <a href="/posts/<%= @post.id %>"></a>
  </p>

  <ul>
    <% @comments.each do |comment| %>
      <li><%= comment.message %> </br>
        <%= comment.author %> </br>

        <a href="/comments/<%= comment.comment_id %>">show</a>
      </li>
    <% end %>
    <p>
      <a href="/posts">Go to All Posts</a>
    </p>
  </ul>
</div>

<!--  -->
